<h1>Editing Playlist Playable</h1>

<%= render 'form', playlist_playable: @playlist_playable %>

<%= link_to 'Show', [:admin, @playlist_playable] %> |
<%= link_to 'Back', admin_playlist_playables_path %>
